<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

	<title>{% block title %}{% end %}</title>

	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles.css" type="text/css" />

	{% block head %}
	{% end %}
</head>
<body>
	{% block main %}
	{% end %}
	<footer class="footer">
		<div class="container">
			<p class="text-muted text-center small">
				OpenWPM Email Tracking Project
				[<a href="/">home</a>]
				[<a href="/results">data</a>]
				[<a href="/privacy">privacy</a>]
				[<a href="https://github.com/itdelatrisu/email-tracking-tester">code</a>]
			</p>
		</div>
	</footer>
</body>
</html>
