{% extends "base.html" %}
{% block title %}Privacy Policy - Email Tracking Test{% end %}
{% block main %}
	<div class="container">
		<h1>Privacy Policy</h1>
		<h4>Collected Information</h4>
		<p>
			After submitting our email form, we may store all form information (including your email address) permanently, along with the IP address and timestamp of the request.
			We may then record the HTTP headers, IP addresses, and timestamps of subsequent tracking hits.
			All of the above information may also be included in our server logs.
		</p>
		<h4>Data Usage</h4>
		<p>
			We will never share or reveal your email address or IP address.
			However, we may reveal or report on any other collected data, including the domain of your email address, your email client and platform, and the associated tracking hits.
		</p>
		<h4>Cookies</h4>
		<p>
			Emails sent from our service may set a persistent cookie, which we may attempt to read in subsequent requests.
		</p>
		<h4>Opting Out</h4>
		<p>
			We will include an opt-out link in every email sent from our service.
			Opting out will add your email address permanently to a blacklist, and will prevent any further emails from being sent to that address.
		</p>
	</div>
{% end %}
